nuxeo-labs-content-intelligence-connector-core/src/main/resources/schemas/cic_agentic_agent_and_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cicagenticagentandconfig="http://www.nuxeo.org/ecm/schemas/cic/agenticagentandconfig"
           targetNamespace="http://www.nuxeo.org/ecm/schemas/cic/agenticagentandconfig">

  <xs:element name="agentId" type="xs:string"/>
  <xs:element name="configName" type="xs:string"/>
  <xs:element name="inputSchemaJson" type="xs:string"/>
  <xs:element name="toolsJson" type="xs:string"/>

</xs:schema>
