nuxeo-labs-content-intelligence-connector-core/src/main/resources/schemas/cic_metadata_detection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cicmetadatadetection="http://www.nuxeo.org/ecm/schemas/cic/metadatadetection"
           targetNamespace="http://www.nuxeo.org/ecm/schemas/cic/metadatadetection">

  <xs:complexType name="metadataItemType">
    <xs:sequence>
      <xs:element name="field" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="metadataListType">
    <xs:sequence>
      <xs:element name="item" type="cicmetadatadetection:metadataItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="metadata" type="cicmetadatadetection:metadataListType"/>

</xs:schema>
